$colorPrincipal:rgb(0, 107, 139);
$colorSecundario:rgb(0, 53, 70);
$colorHoverVerde:#2a9e2e;
$colorBlanco:#fff;
$colorNegro:#000;
$colorVariante:#8ca0ff;

$colorGradienteFondo:linear-gradient(270deg,#a16ff3,#2dcca7,#3e91cc88,#3e91cc88);


$colores:
    (
        colorPrincipal:$colorPrincipal,
        colorSecundario:$colorSecundario,
        colorHoverVerde:$colorHoverVerde,
        colorBlanco:$colorBlanco,
        colorNegro:$colorNegro,
        colorVariante:$colorVariante,
        colorGradienteFondo:$colorGradienteFondo
    );
